.welcome-screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5rem;
  flex-direction: column;

  &__title {
    font-size: 38px;
    color: $white;
    top: 5rem;
    left: 5rem;

    h4 {
      font-weight: 300 !important;
    }
  }
}
