.app-title {
  padding: 0.45rem 1.5rem;
  color: $white;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(30px) brightness(0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 18px;
  height: 3rem;
  border-radius: $medium-border-radius;
}
