.modal {
  transition: 0.2s ease-in-out;
  backdrop-filter: blur(5px);

  &-content {
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.3);
    color: $white;
  }

  &-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}
