@font-face {
  font-family: "Oxygen";
  src: url("./Oxygen/Oxygen-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Oxygen";
  src: url("./Oxygen/Oxygen-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Oxygen";
  src: url("./Oxygen/Oxygen-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Oxygen";
  src: url("./Oxygen/Oxygen-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Oxygen";
  src: url("./Oxygen/Oxygen-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Oxygen";
  src: url("./Oxygen/Oxygen-Bold.ttf");
  font-weight: 700;
}
