$white: #fff;
$gray: #eee;

$primary: #9900ff;
$secondary: #02070c;
$secondary-light: #002a49;
$bg-dark: #000b13;

$green: #01a56d;
$red: #a40000;
$yellow: #ffe600;
$blue: rgb(0, 81, 255);

$small-border-radius: 6px;
$medium-border-radius: 12px;
